* {
   box-sizing: border-box;
}

html, body {
   height: 100%;
}

body {
   font-family: sans-serif;
   // background: #710000;
   color: white;
   font-size: 2vw;
   text-align: center;
   padding: 1em;
   background: linear-gradient(180deg, #800000 0%, #710000 100%);
}

.top-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   text-shadow: var(--text-shadow);
}
.score {
   display: flex;
   align-items: center;
}
.score-count {
   color: var(--gold);
   font-size: 2em;
   font-weight:bold;
   margin-left: 0.2em;
}
table{
    text-align: center;
    table-layout: fixed;
    color: gold;
    background: #620000;
}
th{
    font-size: 20px;
}
#value{
    color: white;
    text-decoration: none;
}
#value.hover{
    color: gold;
    font-weight: bold;
}
tr{
    background: #8F0F0F;
}
/* The Modal (background) */
    .modal {
      display: none; /* Hidden by default */
      /*position: fixed; /* Stay in place */
      position: absolute;
      float: left;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      /*overflow: auto; /* Enable scroll if needed */
    }
    .btn{
        border: none;
        font-size: 2vw;
        text-decoration: underline;
        padding: 0;
        color: gold;
        background: none;
    }
    /* Modal Content */
    .modal-content {
      background-color: gold;
      margin: auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
      position: fixed;
      color: black;
    }
    .btn:hover{
        font-size:2.3vw;
        color: #FBF5B7;
    }

    /* The Close Button */
    .close {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }