* {
   box-sizing: border-box;
}

html, body {
   height: 100%;
}

body {
   font-family: sans-serif;
   // background: #710000;
   color: white;
   font-size: 2vw;
   text-align: center;
   padding: 1em;
   background: linear-gradient(180deg, #800000 0%, #710000 100%);
}

.top-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   text-shadow: var(--text-shadow);
}
.score {
   display: flex;
   align-items: center;
}
.score-count {
   color: var(--gold);
   font-size: 1.5em;
   font-weight:bold;
   margin-left: 0.2em;
}
table{
    table-layout: fixed;
}
th{
    font-size: 20px;
    color: gold;
}
#value{
    color: white;
    text-decoration: none;
}
#value.hover{
    color: gold;
    font-weight: bold;
}
tr{
    background: #8F0F0F;
}
/* The Modal (background) */
    .modal,.modal0,.modal1,.modal2,.modal3,.modal4,.modal5,.modal6,.modal7,.modal8,.modal9,
    .modal10,.modal11,.modal12,.modal13,.modal14,.modal15,.modal16,.modal17,.modal18{
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      float: center;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
    }

    .btn,.btn0,.btn1,.btn2,.btn3,.btn4,.btn5,.btn6,.btn7,.btn8,.btn9,
    .btn10,.btn11,.btn12,.btn13,.btn14,.btn15,.btn16,.btn17,.btn18{
        border: none;
        font-size: 2vw;
        text-decoration: underline;
        padding: 0;
        color: gold;
        background: none;
    }
    /* Modal Content */
    .modal-content {
      background-color: gold;
      margin: auto;
      padding: 20px;
      border: 5px solid black;
      /*width: 80%;
      position: fixed;*/
      color: black;
    }
    .btn:hover {
        font-size:2.3vw;
        color: #FBF5B7;
    }
    .btn:hover {
        font-size:2.3vw;
        color: #FBF5B7;
    }
    .btn0:hover {
        font-size:2.3vw;
        color: #FBF5B7;
    }
    .btn1:hover {
        font-size:2.3vw;
        color: #FBF5B7;
    }
    .btn2:hover {
        font-size:2.3vw;
        color: #FBF5B7;
    }
    .btn3:hover {
        font-size:2.3vw;
        color: #FBF5B7;
    }
    .btn4:hover {
        font-size:2.3vw;
        color: #FBF5B7;
    }
    .btn5:hover {
        font-size:2.3vw;
        color: #FBF5B7;
    }
    .btn6:hover {
        font-size:2.3vw;
        color: #FBF5B7;
    }
    .btn7:hover {
        font-size:2.3vw;
        color: #FBF5B7;
    }
    .btn8:hover {
        font-size:2.3vw;
        color: #FBF5B7;
    }
    .btn9:hover {
        font-size:2.3vw;
        color: #FBF5B7;
    }
    .btn10:hover {
        font-size:2.3vw;
        color: #FBF5B7;
    }
    .btn11:hover {
        font-size:2.3vw;
        color: #FBF5B7;
    }
    .btn12:hover {
        font-size:2.3vw;
        color: #FBF5B7;
    }
    .btn13:hover {
        font-size:2.3vw;
        color: #FBF5B7;
    }
    .btn14:hover {
        font-size:2.3vw;
        color: #FBF5B7;
    }
    .btn15:hover {
        font-size:2.3vw;
        color: #FBF5B7;
    }
    .btn16:hover {
        font-size:2.3vw;
        color: #FBF5B7;
    }
    .btn17:hover {
        font-size:2.3vw;
        color: #FBF5B7;
    }
    .btn18:hover {
        font-size:2.3vw;
        color: #FBF5B7;
    }

    /* The Close Button */
    .close {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }